<!DOCTYPE html>
<html>
  <head>
    <title>Lines</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if signed_in? %>
      <%= link_to 'Sign Out', revoke_sessions_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', google_auth_url %>
    <% end %>
  </body>
</html>
